

body{
    background-color: #6EB4D1;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{

    border-bottom: #ADBABD;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.BarraDiNavigazione{
    
    background-color: #6CBEED;
    padding: 12px;
    
    
    
}

.titoloBarra{

    margin-left: 6px;
    font-size: 30px;
    text-emphasis-style: initial;
    font-weight: bold;

}

.linkDiNavigazione{

    margin-left: 6px;
    font-size: 30px;
    text-decoration: none;
    border-style: solid;
    border-width: medium;
    background-color:  #6EB4D1;

}

.container{

    flex: auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
}

.sub-container{

    margin-right: 20px;
    border-radius: 3px;
    border-color: #ADBABD;
    border-style: solid;
    background-color: #6CBEED;
    padding: 10px;
    margin-bottom: 20px;

}

.testo-narrativo{

    font-size: x-large;

}

.immagineAccompagnamento{

    background-color: #6CBEED;
    border-radius: 3px;
    border-color: #ADBABD;
    border-style: solid;
    padding: 3px;
    

}

footer{

    border-top-width: 3px;
    border-top-color: #ADBABD;
    border-top-style: solid;
    background-color: #4d5455;
    width: 100%;
    
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.footer-container{

    margin-left: 20px;
    color:  white;
}

.btn{
    align-content: center;
    background-color: #ADBABD;
    font-size: x-large;
    
}